/* .page-link{
  background-color: ;
} */
.body{
padding: 0;
margin: 0;
background-color: rgb(243, 242, 245);
}
.heading{
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  color: blueviolet; 
   font-style: oblique;
    margin-top: 0px;
}
.card{
  height: 100px;
  width: 130px;
  background-color: rgb(179, 169, 202);
   margin-top: 16px;
   margin-left: auto;
   margin-right: auto;
   padding-left: 5px;
   padding-right: 5px;
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.75);
    transition: width 2s, height 2s, transform 2s;

}
.card:hover{
  width: 150px;
  height: 120px;
  transform: rotate(360deg);
}
.cardSection{
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;

}
.cardId{
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  text-align: center;
}
.cardTitle{
  font-size: 10px;
  font-weight: 500;
  color: rgb(230, 217, 243);
  text-align: center;
}
.paginationSection{
  display: flex;
   gap: 20px;
    justify-content: center;
     padding: 20px;
}
.labelItems{
  font-size: 12px;
  font-weight: 550;
  color: darkorchid;
}
.pageBtn{
  background-color: rgb(175, 133, 214);
  color: #fff;
  font-size: 12px;
  font-weight: 500;
}
.pageSizeDropdown{
  background-color:blueviolet;
  color: #fff;
}
@media only screen and (max-width: 800px) {
  .cardSection{
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
  
  }
}
@media only screen and (max-width: 600px) {
  .cardSection{
    display: grid;
    grid-template-columns: 50% 50%;
  
  }
}